# deps
node_modules/
.pnp
.pnp.js

# testing
coverage/

# prod
dist/
build/
.vercel
.wrangler/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# db stuff
virex_db.json
guestbook_db.json

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!public/photography/.gitkeep

